@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}

 /*Header*/

 .header-wrapper {
     height: 100vh;
     width: 100vw;
     background: linear-gradient(#CEF2E5,#02444b)  ;
     background-size: 400% 400%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
     animation: backgroundTransition 8s ease-in-out infinite;
 }
 
 h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #CEF2E5;
    font-size: 40px;
}

/*
palheta de cores  -  claro pra escuro:
#CEF2E5
#A0D9C9
#5EBFAD
#038C7F
#025159
*/

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #A0D9C9;
    font-size: 25px;
}

.social-media {
    margin-top: 1rem;
    display: flex;      
}

.social-media a {
    text-decoration: none;
    color: #5EBFAD;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid #025159;
    background-color: #025159;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.social-media > a:hover {
    color: #025159;
    background-color: #5EBFAD;
    border: 1px solid #5EBFAD;
    transition: .5s;
}

/*background animation*/
@keyframes backgroundTransition {
    0% {background-position:0% 80%;}
    50% {background-position:80% 100%;}
    100% {background-position:100% 80%;}
}

/*Menu Hambúrguer*/
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 1s ease-in-out;
    background-color: transparent;
}

.checkbox .trace {
    width: 50px;
    height: 4px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}   

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {display: none;}

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #5EBFAD;
    z-index: -1;
    transition: 0.4s ease-in-out;
}

.menu-itens {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.menu-itens ul {
    list-style-type: none;
}

.menu-itens ul li a {
    margin: 10px 0;
    color: #025159;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

/*Menu Animation*/

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(315deg);
    background-color: #02444b;
    top: 46px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: rotate(315deg);
    background-color: #02444b;
    top: 46px;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(225deg);
    background-color: #02444b;
    top: 46px;
}

/*Menu Bubble Animation*/

#toggle:checked + .checkbox {
    background-color: #5EBFAD;
    transition: 1s;
    border: 1px solid #5EBFAD;
    border-radius: 50%;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #5EBFAD;
    z-index: 1;
    transition: 1s;
}

#toggle:checked ~ .menu-itens {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

/* Cards */

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card {
    height: 300px;
    width: 300px;
    margin: 3rem 0 0 0;
    background-color: #02444b;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5EBFAD;
    transition: 0.6s;
}

.card-text {
    width: 40%;
    font-family: sans-serif;
    font-weight: bold;
    color: #03565f;
    letter-spacing: 1px;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper h2 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p a {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
}

.card:hover {
    border-radius: 50%;
    background-color: #025159;
    color: white;
}

.card:hover > .card-wrapper p a {
    visibility: visible;
    opacity: 1;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* FOOTER */

.footer {
    background-color: #02444b;
    color: #A0D9C9;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
}

/* RESPONSIVO */

@media (max-width: 800px) {
    .social-media{
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card:hover > .card-wrapper::before {
        height: 190px;
        width: 190px;
    }
}